[submodule "biometric-processor"]
	path = biometric-processor
	url = https://github.com/Rollingcat-Software/biometric-processor.git
[submodule "docs"]
	path = docs
	url = https://github.com/Rollingcat-Software/docs.git
[submodule "identity-core-api"]
	path = identity-core-api
	url = https://github.com/Rollingcat-Software/identity-core-api.git
[submodule "client-apps"]
	path = client-apps
	url = https://github.com/Rollingcat-Software/client-apps.git
[submodule "practice-and-test"]
	path = practice-and-test
	url = https://github.com/Rollingcat-Software/practice-and-test.git
[submodule "web-app"]
	path = web-app
	url = https://github.com/Rollingcat-Software/web-app.git
